<div class="row">
    <div class="large-12 columns">

        <article>

            <h2>Mi Carrito de Compras</h2>
            <table class="table table-striped">
                <caption></caption>
                <thead>
                    <tr>
                        <th class="span">Producto</th>
                        <th class="span"></th>
                        <th class="span">Cantidad</th>
                        <th class="span">Precio</th>
                        <th class="span">Total</th>
                        <th class="span">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="well" ng-repeat="item in carrito">
                        <td>
                            <div>
                                <img class="" title="{{item.Producto.description}}" src="{{item.Producto.image}}" />
                            </div>
                        </td>
                        <td>{{item.Producto.description}}</td>
                        <td>
                            <input type="text" ng-model="item.Cantidad" ng-keypress="actualiza()" />
                        </td>
                        <td>{{formatoMoneda(item.Producto.price)}}</td>
                        <td>{{formatoMoneda(item.Cantidad * item.Producto.price)}}</td>
                        <td>
                           
                                <button class="button success" ng-click="eliminar($index)">
                                    <i class="icon-plus-sign"></i>
                                    Eliminar
                                </button>
                           
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href="#/">
                            <button class="button success">
                                <i class="icon-plus-sign"></i>
                                Seguir Comprando
                            </button>
                        </a></td>
                        <td><a href="#/resumen/">
                            <button class="button success">
                                <i class="icon-plus-sign"></i>
                                Continuar
                            </button>
                        </a></td>
                        <td ng-model="total">{{sumaTotal()}}</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
